.subscribe{
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 5%;
    text-align: center;
}

.sub_form{
    margin: 5% 30% 5% 30%;
    font-size: 20px;
    border: 5px solid #FF1493;
    padding: 5% 5% 5% 5%;
    border-radius: 10px;
    background-color: #DB7093;
}

.sub_btn{
    margin-left: 35%;
    margin-top: 5%;
    border-radius: 10px;
    padding: 2% 3% 2% 3%;
    background-color: #C71585;
    color: #4B0082;
    font-weight: bold;
    font-size: 18px;
}

.sub_btn:hover{
    background-color: #4B0082;
    color: #C71585;
}

input[type="text"],input[type="email"],input[type="number"]{
    background-color: #FFC0CB;
    font-size: 12px;
}

@media only screen and (max-width: 600px){
    .subscribe{
        font-size: 25px;
    }
    
    .sub_form{
        margin: 5% 5% 5% 5%;
    }
}